img {
  display: block;
}
.가로 {
  width: 4032px;
  height: 2268px;
}

.세로 {
  width: 2268px;
  height: 4032px;
}
.image-box {
  display: flex;
  flex-wrap: wrap;
}
.image-box img {
  width: 30%;
  height: 30%;
}
